In [ ]:
# Exploratory analysis of covid_cases data set

In [1]:
#   import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
from urllib.error import HTTPError
import numpy as np
import wget
import time
from datetime import datetime
# from pandas_profiling import ProfileReport

In [2]:
#   create dataframes from csv's
df = pd.read_csv('../CSVs/covid_cases.csv')
df

,Unnamed: 0,country_id,date,confirmed,deaths,recovered,active,new_cases,new_deaths,new_recovered
0,0,AFG,2020-01-22,0,0,0.0,0.0,0,0,0
1,1,AFG,2020-01-23,0,0,0.0,0.0,0,0,0
2,2,AFG,2020-01-24,0,0,0.0,0.0,0,0,0
3,3,AFG,2020-01-25,0,0,0.0,0.0,0,0,0
4,4,AFG,2020-01-26,0,0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
142552,142552,ZWE,2022-03-06,239209,5399,0.0,233810.0,190,2,0
142553,142553,ZWE,2022-03-07,239710,5399,0.0,234311.0,501,0,0
142554,142554,ZWE,2022-03-08,240343,5400,0.0,234943.0,633,1,0
142555,142555,ZWE,2022-03-09,240343,5400,0.0,234943.0,0,0,0
142556,142556,ZWE,2022-03-10,241548,5408,0.0,236140.0,1205,8,0

In [3]:
df = df.reset_index(drop=True)
df

,Unnamed: 0,country_id,date,confirmed,deaths,recovered,active,new_cases,new_deaths,new_recovered
0,0,AFG,2020-01-22,0,0,0.0,0.0,0,0,0
1,1,AFG,2020-01-23,0,0,0.0,0.0,0,0,0
2,2,AFG,2020-01-24,0,0,0.0,0.0,0,0,0
3,3,AFG,2020-01-25,0,0,0.0,0.0,0,0,0
4,4,AFG,2020-01-26,0,0,0.0,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
142552,142552,ZWE,2022-03-06,239209,5399,0.0,233810.0,190,2,0
142553,142553,ZWE,2022-03-07,239710,5399,0.0,234311.0,501,0,0
142554,142554,ZWE,2022-03-08,240343,5400,0.0,234943.0,633,1,0
142555,142555,ZWE,2022-03-09,240343,5400,0.0,234943.0,0,0,0
142556,142556,ZWE,2022-03-10,241548,5408,0.0,236140.0,1205,8,0

In [4]:
#df.drop('new_cases', 'new_deaths', 'new_recovered', inplace=True)
#df

df.drop('new_cases', axis=1, inplace=True)
df.drop('new_deaths', axis=1, inplace=True)
df.drop('new_recovered', axis=1, inplace=True)
df

,Unnamed: 0,country_id,date,confirmed,deaths,recovered,active
0,0,AFG,2020-01-22,0,0,0.0,0.0
1,1,AFG,2020-01-23,0,0,0.0,0.0
2,2,AFG,2020-01-24,0,0,0.0,0.0
3,3,AFG,2020-01-25,0,0,0.0,0.0
4,4,AFG,2020-01-26,0,0,0.0,0.0
...,...,...,...,...,...,...,...
142552,142552,ZWE,2022-03-06,239209,5399,0.0,233810.0
142553,142553,ZWE,2022-03-07,239710,5399,0.0,234311.0
142554,142554,ZWE,2022-03-08,240343,5400,0.0,234943.0
142555,142555,ZWE,2022-03-09,240343,5400,0.0,234943.0
142556,142556,ZWE,2022-03-10,241548,5408,0.0,236140.0